<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Soul Bank</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/src/bankAccount.js"></script>
    <script src="/src/interface.js"></script>
  </head>
  <body>
    <section class = 'text-center'>
      <h2>
        Welcome to Soul Bank
      </h2>
      <p>
        Please insert the amount you want to deposit or withdraw
      </p>
      <form method="get" id="key-form">
        <label for="deposit">Deposit: <input name="deposit" id="deposit"/></label>
        <label for="withdrawal">Withdraw: <input name="withdrawal" id="withdrawal"/></label>
        <button class="btn-submit">Submit</button>
      </form>
      <p>
        Your operations:
      </p>
      <table id="bank-statement" style="border:1px solid black;">
        <tr>
          <th>Date</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Balance</th>
        </tr>
      </table>
    </section>
  </body>
</html>
